flow-samp.json
[{"id":"3455eaf5.734796","type":"subflow","name":"Https request Template","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"99805955.94ac78"}]}],"out":[{"x":636.9999847412109,"y":71.00000095367432,"wires":[{"id":"dc3c416c.e8fc2","port":0}]}],"env":[],"color":"#D7D7A0","icon":"font-awesome/fa-chain"},{"id":"99805955.94ac78","type":"function","z":"3455eaf5.734796","name":"Http request template","func":"//Request URL (you will define the endpoitn later)\nmsg.url = 'https://'+env.get('BASE_URL')+'/_matrix/client/r0/profile/' + env.get('BOT')+ '/displayname?access_token='+ env.get('TOKEN')\n\n//Header\nmsg.headers ={\n    \"Authorization\" : \"Bearer \"+env.get(\"STRIPE_SEC_KEY\"),\n    \"Content-type\": \"application/x-www-form-urlencoded\"\n}\n\n\n//Body\nmsg.payload={\n\n  \"displayname\": env.get('NAME')\n\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":81.05899620056152,"wires":[["dc3c416c.e8fc2"]]},{"id":"dc3c416c.e8fc2","type":"http request","z":"3455eaf5.734796","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":438,"y":80,"wires":[[]]},{"id":"73bd5ad3.514ec4","type":"subflow:3455eaf5.734796","z":"eb23981c.468e18","name":"","x":396,"y":330,"wires":[[]]},{"id":"dd7099aa.0e9dd8","type":"inject","z":"eb23981c.468e18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":154,"y":330,"wires":[["73bd5ad3.514ec4"]]}]
